<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>
        <% if @user.errors.count == 1 %>
             virhe
        <% else %>
            virhettä
        <% end %>
             esti käyttäjän tallentamisen:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'käyttäjätunnus' %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :'salasana' %><br>
    <%= f.password_field :password %>
  </div>
    <div class="field">
      <%= f.label :'salasana uudestaan' %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  <% if current_user.nil? %>
    <div class="actions">
      <%= f.submit 'Rekisteröi käyttäjä' %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit 'Tallenna muutokset' %>
    </div>
  <% end %>
<% end %>
