<tr>
  <% if post.image_is_set? %>
      <td>
        <div class="wrapper">
          <%= image_tag post.image_url(:list), align: 'left' %>
          <div class="box">
            <% if post.buyer? %>
                <span class="glyphicon glyphicon-search"></span>
            <% else %>
                <span class="glyphicon glyphicon-header"></span>
            <% end %>
          </div>
        </div>
      </td>
  <% else %>
      <td>
        <div class="wrapper">
          <%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %>
          <div class="box">
            <% if post.buyer? %>
                <span class="glyphicon glyphicon-search"></span>
            <% else %>
                <span class="glyphicon glyphicon-header"></span>
            <% end %>
          </div>
        </div>
      </td>
  <% end %>
  <td>
    <p><b><%= link_to truncate(post.title, :length => 50), post, :class => "links" %></b></p>
    <p><% if post.price %>
        <div style="min-width:4em;"><%= post.price %> €</div>
    <% end %>
    </p>
    <p>
      <% post.categories.each do |category| %>
          <span class="category-badge"><%= "#{category.name}" %></span>
      <% end %>
    </p>
  </td>
  <td>
    <% if post.performer && post.ratings.empty? %>
        <p><%= link_to "Kuittaa suoritetuksi", user_review_path(:post_id => post.id), class:"label label-success" %></p>
    <% elsif post.helpers.empty? %>

    <% elsif !post.helpers.empty? && post.helpers.count == 1 %>
        <p><%= link_to "1 kiinnostunut", post_path(post), class:"label label-warning"%></p>
    <% elsif !post.helpers.empty? && post.helpers.count > 1 %>
        <p><%= link_to "#{post.helpers.count} kiinnostunutta", post_path(post), class:"label label-warning"%></p>
    <% end %>
    <% if post_candidate_changes(post.id) > 0 %>
        <%= link_to post_path(post)  do %>
            <p class="links"><%= post_candidate_changes(post.id) %> uutta</p>
        <% end %>
    <% end %>

    <% if post.performer %>
        <%= link_to conversations_path(current_user.id, post.performer.id, post.id) do %>
            <p><span class="label label-primary">keskustelu</span></p>
            <% if conversation_user_count(post.performer, post.id) > 0 %>
                <p class="links"><%= conversation_user_count(post.performer, post.id) %> uutta</p>
            <% end %>
        <% end %>
    <% else %>
        <% if Conversation.where(post_id:post.id) %>
            <% Conversation.where(post_id:post.id).each do |c| %>
                <% if c.sender_id == current_user.id %>
                    <%= link_to conversation_messages_path(c) do %>
                        <p><span class="label label-primary">keskustelu</span></p>
                        <% if conversation_user_count(c.recipient_id, post.id) > 0 %>
                        <p class="links"><% conversation_user_count(c.recipient_id, post.id) %> uutta</p>
                            <% end %>
                    <% end %>
                <% else %>
                    <%= link_to conversation_messages_path(c) do %>
                        <span class="label label-primary">keskustelu</span>
                        <% if conversation_user_count(c.sender_id, post.id) > 0 %>
                            <p class="links"><%= conversation_user_count(c.sender_id, post.id) %> uutta</p>
                       <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
  </td>
</tr>