<tr>
  <% if post.image_is_set? %>
      <td>
        <div class="wrapper">
          <%= image_tag post.image_url(:list), align: 'left' %>
          <div class="box">
            <% if post.buyer? %>
                <span class="glyphicon glyphicon-search"></span>
            <% else %>
                <span class="glyphicon glyphicon-header"></span>
            <% end %>
          </div>
        </div>
      </td>
  <% else %>
      <td>
        <div class="wrapper">
          <%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %>
          <div class="box">
            <% if post.buyer? %>
                <span class="glyphicon glyphicon-search"></span>
            <% else %>
                <span class="glyphicon glyphicon-header"></span>
            <% end %>
          </div>
        </div>
      </td>
  <% end %>
  <td>
    <p><b><%= link_to truncate(post.title, :length => 50), post, :class => "links" %></b></p>
    <p><% if post.price %>
        <div style="min-width:4em;"><%= post.price %> €</div>
    <% end %>
    </p>
    <p>
      <% post.categories.each do |category| %>
          <span class="category-badge"><%= "#{category.name}" %></span>
      <% end %>
    </p>
  </td>

  <td>
    <% if post.performer && post.ratings.empty? %>
        <p><%= link_to "Kuittaa suoritetuksi", user_review_path(:post_id => post.id), class:"label label-success" %></p>
    <% elsif post.ratings.count == 1 %>
        Annoit arvion:
        <ul style="list-style: none; padding-left: 0">
          <% (1..3).each do |i| %>
              <% if i <= post.ratings.where(reviewer_id:current_user.id).first.score %>
                  <li class="on"></li>
              <% else %>
                  <li class="rating_star"></li>
              <% end %>
          <% end %>
        </ul><br>
        Et ole vielä saanut arviota
    <% elsif post.helpers.empty? %>

    <% elsif !post.helpers.empty? && post.helpers.count == 1 %>
        <p><%= link_to "1 kiinnostunut", post_path(post), class:"label label-warning"%></p>
    <% elsif !post.helpers.empty? && post.helpers.count > 1 %>
        <p><%= link_to "#{post.helpers.count} kiinnostunutta", post_path(post), class:"label label-warning"%></p>
    <% end %>

    <% if post_candidate_changes(post.id) > 0 %>
        <%= link_to post_path(post)  do %>
            <p class="links"><%= post_candidate_changes(post.id) %> uutta</p>
        <% end %>
    <% end %>

    <% unless Conversation.where(post_id:post.id).empty? %>
        <%= link_to post_path(post), class: "links" do %>
            <p><span class="label label-primary">keskustelu</span></p>
            <% if Conversation.where(post_id:post.id).user_messages(current_user.id).unread_by(current_user).count > 0 %>
                <p>Uusia viestejä</p>
            <% end %>
        <% end %>
    <% end %>
  </td>
</tr>