<tr>
  <% if post.image_is_set? %>
      <td>
        <div class="wrapper">
          <%= image_tag post.image_url(:list), align: 'left' %>
          <div class="box">
            <% if post.buyer? %>
                <span class="glyphicon glyphicon-search"></span>
            <% else %>
                <span class="glyphicon glyphicon-header"></span>
            <% end %>
          </div>
        </div>
      </td>
  <% else %>
      <td>
        <div class="wrapper">
          <%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %>
          <div class="box">
            <% if post.buyer? %>
                <span class="glyphicon glyphicon-search"></span>
            <% else %>
                <span class="glyphicon glyphicon-header"></span>
            <% end %>
          </div>
        </div>
      </td>
  <% end %>
  <td>
    <p><b><%= link_to truncate(post.title, :length => 30), post, :class => "linkit" %></b></p>
    <p><% if post.price %>
        <div style="min-width:4em;"><%= post.price %> €</div>
    <% end %>
    </p>
    <p>
      <% post.categories.each do |category| %>
          <span class="category-badge"><%= "#{category.name}" %></span>
      <% end %>
    </p>
  </td>
  <td>
    <% if post.helpers.empty? %>

    <% else %>
        <% if post.helpers.count == 1 %>
            <p><%= link_to "1 kiinnostunut", post_path(post), class:"label label-warning"%></p>
        <% elsif post.helpers.count > 1 %>
            <p><%= link_to "#{post.helpers.count} kiinnostunutta", post_path(post), class:"label label-warning"%></p>
        <% elsif @user_accepted_posts %>
            <p><%= link_to "Arvioi", post_path(post), class:"label label-success"%></p>
        <% end %>
        <% if Candidate.where(post_id:post.id).unread_by(current_user).count > 0 %>
            <%= link_to post_path(post)  do %>
                <p><%= Candidate.where(post_id:post.id).unread_by(current_user).count %> uutta</p>
            <% end %>
        <% end %>
    <% end %>
    <p>  <% if Conversation.where(post_id:post.id) %>
          <% Conversation.where(post_id:post.id).each do |c| %>
              <% if c.sender_id == current_user.id %>
                  <%= link_to conversation_messages_path(c) do %>
                      <span class="glyphicon glyphicon-envelope"></span>
                      <%= content_tag :span, conversation_user_count(c.recipient_id, post.id),
                                      class: 'badge', style:"background-color: blue" if conversation_user_count(c.recipient_id, post.id) > 0 %>

                  <% end %>
              <% else %>
                  <%= link_to "#{} viestiä", post_path(post), class:"label label-primary"%>
                  <% if conversation_user_count(c.sender_id, post.id) > 0 %>
                      <%= link_to post_path(post)  do %>
                          <p><%= conversation_user_count(c.sender_id, post.id) %> uutta</p>
                      <% end %>
                      <%= link_to conversation_messages_path(c) do %>

                          <span class="glyphicon glyphicon-envelope"></span>
                          <%= content_tag :span, conversation_user_count(c.sender_id, post.id),
                                          class: 'badge', style:"background-color: blue" if conversation_user_count(c.sender_id, post.id) > 0 %>

                      <% end %><br>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
      </p>
      </td>
  <td>
    <% if Conversation.where(post_id:post.id) %>
        <% Conversation.where(post_id:post.id).each do |c| %>
            <% if c.sender_id == current_user.id %>
                <%= link_to conversation_messages_path(c) do %>
                    <%= User.where(id:c.recipient_id).first.first_name %> <span class="glyphicon glyphicon-envelope"></span>
                    <%= content_tag :span, conversation_user_count(c.recipient_id, post.id),
                                    class: 'badge', style:"background-color: blue" if conversation_user_count(c.recipient_id, post.id) > 0 %>
                    <%= render 'layouts/stars', :user => User.where(id:c.recipient_id).first %>
                <% end %>
            <% else %>
                <%= link_to conversation_messages_path(c) do %>
                    <%= User.where(id:c.sender_id).first.first_name %> <span class="glyphicon glyphicon-envelope"></span>
                    <%= content_tag :span, conversation_user_count(c.sender_id, post.id),
                                    class: 'badge', style:"background-color: blue" if conversation_user_count(c.sender_id, post.id) > 0 %>
                    <%= render 'layouts/stars', :user => User.where(id:c.sender_id).first %>
                <% end %><br>
            <% end %>
        <% end %>
    <% end %>
  </td>
</tr>