<h3>Olen ollut helpperinä (<%= @user_performed_selling.count %>)</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_performed_selling.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>
        <% end %>
        <td><b><%= link_to truncate(post.title, :length => 50), post, :class => "links" %></b>
          <p>
            <% if post.price %>
                <%= post.price %> €
            <% end %>
          </p>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p>
        </td>
        <td>
          Annoit arvion:
          <ul style="list-style: none; padding-left: 0">
            <% (1..3).each do |i| %>
                <% if i <= post.ratings.where(reviewer_id:post.user.id).first.score %>
                    <li class="on"></li>
                <% else %>
                    <li class="rating_star"></li>
                <% end %>
            <% end %>
          </ul><br>
          <% if post.ratings.where(reviewer_id:post.performer.id).count > 0 %>
              Sait arvion:
              <ul style="list-style: none; padding-left: 0">
                <% (1..3).each do |i| %>
                    <% if i <= post.ratings.where(reviewer_id:post.performer.id).first.score %>
                        <li class="on"></li>
                    <% else %>
                        <li class="rating_star"></li>
                    <% end %>
                <% end %>
              </ul><br>
          <% else %>
              Et ole vielä saanut arviota
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>



<h3>Minulla on ollut helpperi (<%= @user_performed_buying.count %>)</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_performed_buying.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>
        <% end %>
        <td><b><%= link_to truncate(post.title, :length => 50), post, :class => "links" %></b>
          <p>
            <% if post.price %>
                <%= post.price %> €
            <% end %>
          </p>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p>
        </td>
        <td>
          Annoit arvion:
          <ul style="list-style: none; padding-left: 0">
            <% (1..3).each do |i| %>
                <% if i <= post.ratings.where(reviewer_id:post.user.id).first.score %>
                    <li class="on"></li>
                <% else %>
                    <li class="rating_star"></li>
                <% end %>
            <% end %>
          </ul><br>
          <% if post.ratings.where(reviewer_id:post.performer.id).count > 0 %>
              Sait arvion:
              <ul style="list-style: none; padding-left: 0">
                <% (1..3).each do |i| %>
                    <% if i <= post.ratings.where(reviewer_id:post.performer.id).first.score %>
                        <li class="on"></li>
                    <% else %>
                        <li class="rating_star"></li>
                    <% end %>
                <% end %>
              </ul><br>
          <% else %>
              Et ole vielä saanut arviota
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<h3>Vanhentuneet ilmoitukseni (<%= @user_expired_posts.count %>)</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_expired_posts.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>
        <% end %>
        <td><b><%= link_to truncate(post.title, :length => 50), post, :class => "links" %></b>
          <p>
            <% if post.price %>
                <%= post.price %> €
            <% end %>
          </p>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p>
        </td>
        <!--<td>-->
          <!--<% if post.performer %>-->
              <!--<%= link_to(post.performer.first_name, user_path(post.performer)) %>-->
              <%= render 'layouts/stars', :user => post.performer %><br>
              <!--<%= link_to conversations_path(current_user.id, post.performer.id, post.id), :class => "links" do %>-->
                  <!--<span class="glyphicon glyphicon-envelope black-glyph"></span>-->
              <!--<% end %>-->
          <!--<% end %>-->
        <!--</td>-->
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @user_expired_posts, :param_name => 'expired_page' %>