<h3>Olen ollut helpperinä ()</h3>

<h3>Minulla on ollut helpperi ()</h3>

<h3>Vanhentuneet ilmoitukseni (<%= @user_expired_posts.count %>)</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-1"></th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_expired_posts.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>
        <% end %>
        <td><b><%= link_to truncate(post.title, :length => 30), post %></b>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p></td>
        <td>
          <p><%= link_to(post.performer.first_name, user_path(post.performer)) if post.performer %></p>
        </td>
        <td>
          <% if post.performer %>
              <%= link_to conversations_path(current_user.id, post.performer.id, post.id) do %>
                  <span class="glyphicon glyphicon-envelope"></span>
                  <%= content_tag :span, conversation_user_count(post.performer.id, post.id),
                                  class: 'badge', style:"background-color: blue" if conversation_user_count(post.performer.id, post.id) > 0 %>
              <% end %>
          <% end %>
        </td>
        <td><% if post.price %>
              <%= post.price %> €
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @user_expired_posts, :param_name => 'expired_page' %>
<br>
<br>


--------------------------------------------------------

<br>
<h3>Suljetut ilmoitukset ()</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-1"></th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_performed_posts.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>
        <% end %>
        <td><b><%= link_to truncate(post.title, :length => 30), post %></b>
          <% if post.buyer? %>
              <p><span class="selling-badge">Helppaaja</span></p>
          <% elsif post.seller? %>
              <p><span class="selling-badge">Helpattava</span></p>
          <% end %>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p></td>
        <td>
          <%= link_to(post.performer.first_name, user_path(post.performer)) %>
        </td>
        <td>
          <%= link_to conversations_path(post.performer.id, post.user.id, post.id) do %>
              <span class="glyphicon glyphicon-envelope"></span>
              <%= content_tag :span, conversation_user_count(post.performer.id, post.id),
                              class: 'badge', style:"background-color: blue" if conversation_user_count(post.performer.id, post.id) > 0 %>
          <% end %>
        </td>
        <td>
          <div class="row">
            Annoit arvion:
          </div>
          <%= render 'layouts/stars', :user => post.performer %>
          <% if post.ratings.where(reviewer_id:post.performer.id).count > 0 %>
              <div class="row">
                Sait arvion:
              </div>
              <%= render 'layouts/stars', :user => post.performer %>
          <% end %>
        </td>
        <td><% if post.price %>
              <%= post.price %> €
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @user_performed_posts, :param_name => 'performed_page' %>
<br>

----------------------------------------------------------------------------------


<h3>Suoritetut ilmoitukset (<%= @user_performed_tasks.count %>)</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-2"></th>
    <th class="col-md-1"></th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_performed_tasks.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>
        <% end %>
        <td><b><%= link_to truncate(post.title, :length => 30), post %></b>
          <% if post.buyer? %>
              <p><span class="selling-badge">Helpperi</span></p>
          <% end %>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p></td>
        <td>
          <p><%= link_to(post.user.first_name, user_path(post.user)) %></p>
        </td>
        <td>
          <%= link_to conversations_path(current_user.id, post.user.id, post.id) do %>
              <span class="glyphicon glyphicon-envelope"></span>
              <%= content_tag :span, post_conversation_count(post.id),
                              class: 'badge', style:"background-color: blue" if post_conversation_count(post.id) > 0 %>
          <% end %>
        </td>
        <td>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>
                Sait arvion:
                <%= render 'layouts/stars', :user => post.user %>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p>
                <% if post.ratings.where(reviewer_id:post.performer.id).count > 0 %>
                    Annoit arvion:
                    <%= render 'layouts/stars', :user => post.performer %>
                <% else %>
                    <%= link_to 'Arvioi ilmoittaja', user_review_path(:post_id => post.id) %>
                <% end %>
              </p>
            </div>
          </div>
        </td>
        <td><% if post.price %>
              <%= post.price %> €
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @user_performed_tasks, :param_name => 'performed_page' %>
<br>