<h1>Omat ilmoitukset</h1>
<br>
<%= link_to('Uusi ilmoitus', new_post_path, class:"btn btn-success") if current_user && current_user.valid? %>
<%= link_to('Uusi ilmoitus', edit_user_registration_path(current_user, :finishing => 1),
            class:"btn btn-success") if current_user && !current_user.valid? %>
<br>

<br><table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2">Kuva</th>
    <th class="col-md-2">Otsikko</th>
    <th class="col-md-2">Kiinnostuneet</th>
    <th class="col-md-1">Hinta</th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_posts.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>
        <% end %>
        <td><%= link_to truncate(post.title, :length => 30), post %>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p></td>
        <td>
          <% if post.helpers.empty? %>
              Ei kiinnostuneita
          <% else %>
              <span class="label interest-badge"><%= post.helpers.count %> kiinnostunutta</span>
          <% end %>
        </td>
        <td><% if post.price %>
              <%= post.price %> €
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>

</table>
<br>

