<h1>Omat ilmoitukset</h1>
<br>
<%= link_to('Uusi ilmoitus', new_post_path, class:"btn btn-success") if current_user %>
<br>
<br><table class="table table-striped">
  <thead>
  <tr>
    <th class="col-md-2">Kuva</th>
    <th class="col-md-2">Otsikko</th>
    <th class="col-md-2">Kuvaus</th>
    <th class="col-md-1">Hinta</th>
  </tr>
  </thead>

  <tbody class="form-group">
  <% @user_posts.each do |post| %>
      <tr>
        <% if post.image_is_set? %>
            <td><%= image_tag post.image_url(:display), width: 100, align: 'left' %></td>
        <% else %>
            <td><%= image_tag post.category_to_take_image_from.image_url(:display), width: 100, align: 'left' %></td>
        <% end %>
        <td><%= link_to truncate(post.title, :length => 30), post %>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p></td>

        <td><%= truncate(post.description, :length => 30) %></td>
        <td><% if post.price %>
              <%= post.price %> €
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

