<br>
<% if @user_posts.empty? && @user_performer_posts.empty? %> <!-- tähän performer_posteista vain ne joissa ratings < 2 -->

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center login-title">Omat ilmoitukset</h1>
        <div class="account-wall">

          <div class="padding">
            Sinulla ei tällä hetkellä ole aktiivisia ilmoituksia. Voit selata ilmoituksia etusivulla tai luoda uusia klikkaamalla 'Luo ilmoitus' -painiketta!<br>
          </div>
        </div>
      </div>
    </div>
    <br>
<% end %>
<%= link_to('Luo ilmoitus', new_post_path, class:"black-button") if current_user && current_user.valid? %>
<%= link_to('Luo ilmoitus', edit_user_registration_path(current_user, :finishing => 1),
            class:"black-button") if current_user && !current_user.valid? %><br>

<% if @user_performer_selling_posts.empty? &&  @user_buying_posts.empty? %> <!-- tähän performer_posteista vain ne joissa ratings < 2 -->
<% else %>

    <h3>Etsin helpperiä </h3>
    <% unless @user_performer_selling_posts.empty? %>
        <% @user_performer_selling_posts.each do |post| %>
            <!-- if post.ratings.count < 2 -->


            <table class="table table-striped">
              <caption>Minut on hyväksytty (<%= @user_performer_selling_posts.count %>) </caption>
              <thead>
              <tr>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
              </tr>
              </thead>
              <tbody class="form-group">

              <tr>
                <td>
                  <% if post.image_is_set? %>
                      <div class="wrapper">
                        <%= image_tag post.image_url(:list), align: 'left' %>
                        <div class="box">
                          <% if post.buyer? %>
                              <span class="glyphicon glyphicon-search"></span>
                          <% else %>
                              <span class="glyphicon glyphicon-header"></span>
                          <% end %>
                        </div>
                      </div>
                  <% else %>
                      <div class="wrapper">
                        <%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %>
                        <div class="box">
                          <% if post.buyer? %>
                              <span class="glyphicon glyphicon-search"></span>
                          <% else %>
                              <span class="glyphicon glyphicon-header"></span>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
                </td>
                <td>
                  <p><b><%= link_to truncate(post.title, :length => 30), post, :class => "links" %></b></p>
                  <p><% if post.price %>
                      <div style="min-width:4em;"><%= post.price %> €</div>
                  <% end %>
                  </p>
                  <p>
                    <% post.categories.each do |category| %>
                        <span class="category-badge"><%= "#{category.name}" %></span>
                    <% end %>
                  </p>
                </td>
                <td>
                  <% if post.ratings.count == 1 %>
                  <p><%= link_to 'Arvioi ilmoittaja', user_review_path(:post_id => post.id), :class => "links" %></p>
                      Sait arvion:
                      <ul style="list-style: none; padding-left: 0">
                        <% (1..3).each do |i| %>
                            <% if i <= post.ratings.where(reviewer_id:post.user.id).first.score %>
                                <li class="on"></li>
                            <% else %>
                                <li class="rating_star"></li>
                            <% end %>
                        <% end %>
                      </ul>
                  <% end %>
                      <% if post.ratings.count > 1 %>
                      Annoit arvion:
                      <ul style="list-style: none; padding-left: 0">
                        <% (1..3).each do |i| %>
                            <% if i <= post.ratings.where(reviewer_id:post.performer.id).first.score %>
                                <li class="on"></li>
                            <% else %>
                                <li class="rating_star"></li>
                            <% end %>
                        <% end %>
                      </ul><br>
                      Sait arvion:
                      <ul style="list-style: none; padding-left: 0">
                        <% (1..3).each do |i| %>
                            <% if i <= post.ratings.where(reviewer_id:post.user.id).first.score %>
                                <li class="on"></li>
                            <% else %>
                                <li class="rating_star"></li>
                            <% end %>
                        <% end %>
                      </ul><br>
                  <% end %>

                  <% if Conversation.where(post_id:post.id) %>
                      <% Conversation.where(post_id:post.id).each do |c| %>
                          <% if c.sender_id == current_user.id %>
                              <%= link_to conversation_messages_path(c) do %>
                                  <p><span class="label label-primary">keskustelu</span></p>
                                  <% if conversation_user_count(c.recipient_id, post.id) > 0 %>
                                      <p class="links"><% conversation_user_count(c.recipient_id, post.id) %> uutta</p>
                                  <% end %>
                              <% end %>
                          <% end %>
                          <% if c.recipient_id == current_user.id %>
                              <%= link_to conversation_messages_path(c) do %>
                                  <p><span class="label label-primary">keskustelu</span></p>
                                  <% if conversation_user_count(c.sender_id, post.id) > 0 %>
                                      <p class="links"><% conversation_user_count(c.sender_id, post.id) %> uutta</p>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- % end % -->
        <% end %>
    <% end %>

    <% unless @user_buying_posts.empty? %>
        <table class="table table-striped">
          <caption>Luomani ilmoitukset (<%= @user_buying_posts.count %>)</caption>
          <thead>
          <tr>
            <th class="col-md-2"></th>
            <th class="col-md-2"></th>
            <th class="col-md-2"></th>
          </tr>
          </thead>
          <tbody class="form-group">
          <% @user_buying_posts.each do |post| %>
              <%= render 'user_post_row', :post => post %>
          <% end %>
          </tbody>
        </table><br>
    <% end %>
<% end %>

<% unless @user_performer_buying_posts.empty? && @user_selling_posts.empty? %> <!-- tähän performer_posteista vain ne joissa ratings < 2 -->
    <h3>Haluan helpperiksi </h3>
    <% unless @user_performer_buying_posts.empty? %>

        <table class="table table-striped">
          <caption>Minut on hyväksytty (<%= @user_performer_buying_posts.count %>) </caption>
          <thead>
          <tr>
            <th class="col-md-2"></th>
            <th class="col-md-2"></th>
            <th class="col-md-2"></th>
          </tr>
          </thead>

          <tbody class="form-group">
          <% @user_performer_buying_posts.each do |post| %>
              <% if post.ratings.count < 2 %>
                  <tr>
                    <% if post.image_is_set? %>
                        <td>
                          <div class="wrapper">
                            <%= image_tag post.image_url(:list), align: 'left' %>
                            <div class="box">
                              <% if post.buyer? %>
                                  <span class="glyphicon glyphicon-search"></span>
                              <% else %>
                                  <span class="glyphicon glyphicon-header"></span>
                              <% end %>
                            </div>
                          </div>
                        </td>
                    <% else %>
                        <td>
                          <div class="wrapper">
                            <%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %>
                            <div class="box">
                              <% if post.buyer? %>
                                  <span class="glyphicon glyphicon-search"></span>
                              <% else %>
                                  <span class="glyphicon glyphicon-header"></span>
                              <% end %>
                            </div>
                          </div>
                        </td>
                    <% end %>

                    <td>
                      <p><b><%= link_to truncate(post.title, :length => 30), post, :class => "links" %></b></p>
                      <p><% if post.price %>
                          <div style="min-width:4em;"><%= post.price %> €</div>
                      <% end %>
                      </p>
                      <p>
                        <% post.categories.each do |category| %>
                            <span class="category-badge"><%= "#{category.name}" %></span>
                        <% end %>
                      </p>
                    </td>
                    <td>
                      <%= link_to 'Arvioi ilmoittaja', user_review_path(:post_id => post.id), :class => "links" if post.ratings.count == 1 %>
                      <% if post.ratings.count > 1 %>
                          Annoit arvion:
                          <ul style="list-style: none; padding-left: 0">
                            <% (1..3).each do |i| %>
                                <% if i <= post.ratings.where(reviewer_id:post.performer.id).first.score %>
                                    <li class="on"></li>
                                <% else %>
                                    <li class="rating_star"></li>
                                <% end %>
                            <% end %>
                          </ul><br>
                          Sait arvion:
                          <ul style="list-style: none; padding-left: 0">
                            <% (1..3).each do |i| %>
                                <% if i <= post.ratings.where(reviewer_id:post.user.id).first.score %>
                                    <li class="on"></li>
                                <% else %>
                                    <li class="rating_star"></li>
                                <% end %>
                            <% end %>
                          </ul><br>
                      <% end %>
                      <% if Conversation.where(post_id:post.id) %>
                          <% Conversation.where(post_id:post.id).each do |c| %>
                              <% if c.sender_id == current_user.id %>
                                  <%= link_to conversation_messages_path(c) do %>
                                      <p><span class="label label-primary">keskustelu</span></p>
                                      <% if conversation_user_count(c.recipient_id, post.id) > 0 %>
                                          <p class="links"><%= conversation_user_count(c.recipient_id, post.id) %> uutta</p>
                                      <% end %>
                                  <% end %>
                              <% end %>
                              <% if c.recipient_id == current_user.id %>
                                  <%= link_to conversation_messages_path(c) do %>
                                      <p><span class="label label-primary">keskustelu</span></p>
                                      <% if conversation_user_count(c.sender_id, post.id) > 0 %>
                                          <p class="links"><%= conversation_user_count(c.sender_id, post.id) %> uutta</p>
                                      <% end %>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
              </table>
          <% end %>
    <% end %>

    <% unless @user_selling_posts.empty? %>

        <table class="table table-striped">
          <caption>Luomani ilmoitukset (<%= @user_selling_posts.count %>)</caption>
          <thead>
          <tr>
            <th class="col-md-2"></th>
            <th class="col-md-2"></th>
            <th class="col-md-2"></th>

          </tr>
          </thead>

          <tbody class="form-group">
          <% @user_selling_posts.each do |post| %>
              <%= render 'user_post_row', :post => post %>
          <% end %>
          </tbody>
        </table><br>
    <% end %>
<% end %>




<!--<br><br>-->
<!--<h3>Luomasi ilmoitukset (<%= @user_posts.count %>)</h3>-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-1"></th>-->
<!--</tr>-->
<!--</thead>-->

<!--<tbody class="form-group">-->
<!--<% @user_posts.each do |post| %>-->
    <!--<tr>-->
    <!--<% if post.image_is_set? %>-->
        <!--<td><%= image_tag post.image_url(:list), align: 'left' %></td>-->
        <!--<% else %>-->
        <!--<td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>-->
        <!--<% end %>-->
    <!--<td><b><%= link_to truncate(post.title, :length => 30), post %></b>-->
    <!--<% if post.buyer? %>-->
        <!--<p><span class="buying-badge">Helpattava</span></p>-->
        <!--<% elsif post.seller? %>-->
        <!--<p><span class="selling-badge">Helppaaja</span></p>-->
        <!--<% end %>-->
    <!--<p>-->
    <!--<% post.categories.each do |category| %>-->
        <!--<span class="category-badge"><%= "#{category.name}" %></span>-->
        <!--<% end %>-->
    <!--</p></td>-->
    <!--<td>-->
    <!--<% if post.helpers.empty? %>-->
        <!--Ei kiinnostuneita-->
        <!--<% else %>-->
        <!--<p><%= link_to "#{post.helpers.count} kiinnostunutta", post_path(post), class:"label label-warning"%></p>-->
        <!--<% if Candidate.where(post_id:post.id).unread_by(current_user).count > 0 %>-->
            <!--<%= link_to post_path(post)  do %>-->
                <!--<p><%= Candidate.where(post_id:post.id).unread_by(current_user).count %> uutta</p>-->
                <!--<% end %>-->
            <!--<% end %>-->
        <!--<% end %>-->
    <!--</td>-->
    <!--<td>-->
    <!--<% if Conversation.where(post_id:post.id) %>-->
        <!--<% Conversation.where(post_id:post.id).each do |c| %>-->
            <!--<% if c.sender_id == current_user.id %>-->
                <!--<div class="row">-->
                <!--<%= link_to conversation_messages_path(c) do %>-->
                    <!--<%= User.where(id:c.recipient_id).first.first_name %> <span class="glyphicon glyphicon-envelope"></span>
                    <!--<%= content_tag :span, conversation_user_count(c.recipient_id, post.id),
                                        class: 'badge', style:"background-color: blue" if conversation_user_count(c.recipient_id, post.id) > 0 %>-->
                    <!--</div>-->
                    <!--<% end %>-->
                <!--<%= render 'layouts/stars', :user => User.where(id:c.recipient_id).first %><br>-->
                <!--<% else %>-->
                <!--<div class="row">-->
                <!--<%= link_to conversation_messages_path(c) do %>-->
                    <!--<%= User.where(id:c.sender_id).first.first_name %> <span class="glyphicon glyphicon-envelope"></span>
                    <!--<%= content_tag :span, conversation_user_count(c.sender_id, post.id),
                                        class: 'badge', style:"background-color: blue" if conversation_user_count(c.sender_id, post.id) > 0 %>-->
                    <!--<% end %>-->
                <!--</div>-->
                <!--<%= render 'layouts/stars', :user => User.where(id:c.sender_id).first %><br>-->
                <!--<% end %>-->
            <!--<% end %>-->
        <!--<% end %>-->
    <!--</td>-->
    <!--<td><% if post.price %>-->
        <!--<%= post.price %> €-->
        <!--<% end %>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<% end %>-->
<!--</tbody>-->
<!--</table>-->
<!--<%= will_paginate @user_accepted_posts, :param_name => 'post_page' %>-->
<!--<br>-->


<!--<h3>Ilmoitukset, joista olet kiinnostunut (<%= @user_accepted_posts.count %>)</h3>-->

<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-2"></th>-->
<!--<th class="col-md-1"></th>-->
<!--</tr>-->
<!--</thead>-->

<!--<tbody class="form-group">-->
<!--<% @user_accepted_posts.each do |post| %>-->
    <!--<tr>-->
    <!--<% if post.image_is_set? %>-->
        <!--<td><%= image_tag post.image_url(:list), align: 'left' %></td>-->
        <!--<% else %>-->
        <!--<td><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>-->
        <!--<% end %>-->
    <!--<td><b><%= link_to truncate(post.title, :length => 30), post %></b>-->
    <!--<% if post.buyer? %>-->
        <!--<p><span class="selling-badge">Helpperi</span></p>-->
        <!--<% end %>-->
    <!--<p>-->
    <!--<% post.categories.each do |category| %>-->
        <!--<span class="category-badge"><%= "#{category.name}" %></span>-->
        <!--<% end %>-->
    <!--</p>-->
    <!--</td>-->
    <!--<td>-->
    <!--<div class="row">-->
    <!--<%= link_to(post.performer.first_name, user_path(post.performer)) %>-->
    <!--</div>-->
    <!--<%= render 'layouts/stars', :user => post.performer %>-->
    <!--</td>-->
    <!--<td>-->
    <!--<%= link_to conversations_path(post.performer.id, post.user.id, post.id) do %>-->
        <!--<span class="glyphicon glyphicon-envelope"></span>-->
        <%= content_tag :span, conversation_user_count(post.performer.id, post.id),
                        class: 'badge', style:"background-color: blue" if conversation_user_count(post.performer.id, post.id) > 0 %>
        <!--<% end %>-->
    <!--</td>-->
    <!--<td>-->
    <!--<%= link_to 'Kuittaa suoritetuksi', user_review_path(:post_id => post.id) %>-->
    <!--</td>-->
    <!--<td><% if post.price %>-->
        <!--<%= post.price %> €-->
        <!--<% end %>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<% end %>-->
<!--</tbody>-->
<!--</table>-->
<!--<%= will_paginate @user_accepted_posts, :param_name => 'accepted_page' %>-->