<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= @user.first_name %> <%= @user.last_name if current_user == @user %></h1>
    <div class="account-wall">
      <div class="padding">

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">

              <%= render 'layouts/stars', :user => @user %><br>
              <%= link_to "(#{@user.ratings_count} arvostelua)", user_ratings_path(:id => @user.id), :class => "linkit" %><br>

              <br>
              <p> <% if current_user == @user %>
                  <p><b>Sähköposti</b></p>
                  <p><%= @user.email if current_user == @user %></p><br>
              <% end %>

              <p><b>Sijainti </b></p>
              <p><%= @user.address if current_user == @user %></p>
              <p><%= @user.zip_code %> <%= @user.city %></p><br>

              <% if current_user == @user %>
                  <p><b>Puhelinnumero </b></p>
                  <p><%= @user.phone_number %></p><br>
              <% end %>


              <p><% if @user.language? %><b>Kielitaito </b><% end %></p>
              <p><%= @user.language %></p><br>


              <p><% if @user.description? %><b>Kuvaus </b><% end %></p>
              <p><%= @user.description %></p>
            </div><br>
            <div class="col-xs-6 col-md-4">
              <% if @user.image.present? %>
                  <%= image_tag @user.image_url(:display) %>
              <% end %>
            </div>
            <br>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= link_to 'Lähetä viesti käyttäjälle', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class:"black-button" if current_user && @user.id != current_user.id %>
              <%= link_to('Muokkaa', edit_user_registration_path, class:"black-button") if current_user == @user && current_user.valid? %>
              <%= link_to('Näytä helppaushistoria', user_history_path, class:"white-button") if current_user == @user && current_user.valid? %>
              <%= link_to('Muokkaa', edit_user_registration_path(:finishing => 1), class:"black-button") if current_user == @user && !current_user.valid? %>
            </div>
          </div>
          <br>
      </div>
    </div>
  </div>
</div>