<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1 class="text-center login-title"><%= @user.first_name %> <%= @user.last_name if current_user == @user %></strong></h1>
    <div class="account-wall">
      <%= form_for(@user, :html => {:class => "lomake"}) do |f| %>
          <div class ="row">

            <div class="col-xs-12 col-sm-6 col-md-8">
              <% if @user != current_user %>
                  <%= link_to 'Lähetä yksitysviesti', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' %>
              <% end %>

              <% if current_user == @user %>
                  <p><b>Sähköposti</b></p>
                  <p><%= @user.email if current_user == @user %></p><br>
              <% end %>

              <p><b>Sijainti </b></p>
              <p><%= @user.address if current_user == @user %></p>
              <p><%= @user.zip_code %> <%= @user.city %></p><br>

              <% if current_user == @user %>
                  <p><b>Puhelinnumero </b></p>
                  <p><%= @user.phone_number %></p><br>
              <% end %>


              <p><% if @user.language? %><b>Kielitaito </b><% end %></p>
              <p><%= @user.language %></p><br>


              <p><% if @user.description? %><b>Kuvaus </b><% end %></p>
              <p><%= @user.description %></p>
            </div><br>
            <div class="col-xs-6 col-md-4">
              <%= image_tag @user.image_url(:display) %>
            </div>
          </div>

          <%= link_to('Muokkaa', edit_user_registration_path(@user), class:"btn btn-info") if current_user == @user %>

          </div><br>
      <% end %>
      </div>
</div>