<%= form_for(@post, :html => {:class => 'lomake'}) do |f| %>
    <% if @post.errors.any? %>
        <div id='error_explanation'>
          <h2><%= @post.errors.count %>
            <% if @post.errors.count == 1 %>
                virhe
            <% else %>
                virhettä
            <% end %>
            esti tallentamasta tämän ilmoituksen:

          </h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class='radio'>
      <label>
        <%= f.radio_button :post_type, 'Myynti', checked: true %> Etsin helpperiä
      </label>
    </div>
    <div class='radio'>
      <label>
        <%= f.radio_button :post_type, 'Osto' %> Haluan helpperiksi
      </label>
    </div>

    <div class='form-group'>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :image, class: "control-label" %>
      <%= f.hidden_field :image_cache %>
      <%= f.file_field :image %>
      <% if f.object.image? %>
          <%= f.label :remove_image, class: "control-label" %>
          <%= f.check_box :remove_image %>
      <% end %>
    </div>

    <div class="container">
      <% if f.object.image? %>
          <%= image_tag @post.image_url(:thumb), style: "float:left" %>
      <% end %>
    </div>

    <div class='form-group'>
      <%= f.label :category %><br>
      <i>Desktop-versiossa pidä ctrl/cmd pohjassa valitaksesi useamman kategorian</i><br>
      <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
    </div>

    <br>
    <div class='field'>
      <%= f.label :price %><br>
      <%= f.number_field :price, value: 0, min: 0 %>
    </div>

    <br>
    <div class='form-group'>
      <%= f.label :description, class: 'control-label' %>
      <br>
      <i>(max. 2000 merkkiä)</i>
      <br>
      <%= f.text_area :description, :rows => '5', class: 'form-control'%>
    </div>
    <br>
    <div class='form-group'>
      <%= f.label :address, class: 'control-label' %>
      <%= f.text_field :address, value: current_user.address, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :zip_code, class: 'control-label' %>
      <%= f.text_field :zip_code, value: current_user.zip_code, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :city, class: 'control-label' %>
      <%= f.text_field :city, value: current_user.city, class: 'form-control' %>
    </div>

    <div class='field'>
      <%= f.label :radius %><br>
      <%= f.number_field :radius, value: 0, min: 0 %>
    </div>

    <br>
    <div class='field'>
      <%= f.label :ending_date %><br>
      <%= f.date_select :ending_date, default: 2.weeks.from_now %>
    </div>
    <br>

    <% if @edit %>
        <div class='actions'>
          <%= f.submit 'Päivitä', class:'btn btn-success' %>
          <%= link_to 'Peruuta', post_path, class:'btn' %>
        </div><br>
    <% else %>
        <div class="actions">
          <%= f.submit 'Luo ilmoitus', class:"btn btn-success" %>
          <%= link_to "Peruuta", posts_path, class:"btn"%>
        </div>
    <% end %>

<% end %>
