<%= form_for(@post, :html => {:class => "lomake"}) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= @post.errors.count %>
            <% if @post.errors.count == 1 %>
                virhe
            <% else %>
                virhettä
            <% end %>
            esti tallentamasta tämän ilmoituksen:

          </h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :post_type %><br>
      <%= f.text_field :post_type, class: "form-control" %>
    </div>

    <div class="radio">
      <label><input type="radio" name="optradio">Option 1</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Option 2</label>
    </div>
<br>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <br>
    <p><b>Kategoria</b></p>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
    <br>
    <br>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price, value: 0, min: 0 %>
    </div>

    <br>
    <div class="form-group">
      <%= f.label :description, class: "control-label" %>
      <br>
      <i>(max. 2000 merkkiä)</i>
      <br>
      <%= f.text_area :description, :rows => "5", class: "form-control"%>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :address, class: "control-label" %>
      <%= f.text_field :address, value: current_user.address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :zip_code, class: "control-label" %>
      <%= f.text_field :zip_code, value: current_user.zip_code, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city, class: "control-label" %>
      <%= f.text_field :city, value: current_user.city, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :radius %><br>
      <%= f.number_field :radius %>
    </div>

    <br>
    <div class="field">
      <%= f.label :ending_date %><br>
      <%= f.datetime_select :ending_date %>
    </div>
    <br>

    <% if @edit %>
        <div class="actions">
          <%= f.submit 'Päivitä', class:"btn btn-success" %>
          <%= link_to 'Peruuta', post_path, class:"btn" %>
        </div>
    <% else %>
        <br>
        <div class="actions">
          <%= f.submit 'Luo ilmoitus', class:"btn btn-success" %>
          <%= link_to "Peruuta", user_path(current_user), class:"btn"%>
        </div>
    <% end %>

<% end %>
