<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>
          <% if @post.errors.count == 1 %>
            virhe
          <% else %>
            virhettä
          <% end %>
            esti tallentamasta tämän ilmoituksen:
      </h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <% if @edit %>
    <div class="actions">
      <%= f.submit 'Muokkaa ilmoitusta' %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit 'Luo ilmoitus', class:"btn btn-success" %>
      <%= link_to "Peruuta", user_path(current_user), class:"btn"%>
    </div>
  <% end %>
<% end %>
