<h1>Ilmoitukset</h1>

<table>
  <thead>
    <tr>
      <th>Otsikko</th>
      <th>Kuvaus</th>
      <th>Hinta</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.price %></td>
        <td><%= link_to 'Näytä ilmoitus', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Uusi ilmoitus', new_post_path if current_user %>
