<h1>Ilmoitukset</h1><br>

<%= form_tag search_path do %>

    <div class="Row">
      <div class="Column">
        <%= check_box_tag :post_type_buying_value, 'Osto', params[:post_type_buying] %> Etsitään helpperiä
      </div>
      <div class="Column">
        <%= check_box_tag :post_type_selling_value, 'Myynti', params[:post_type_selling] %> Halutaan helpperiksi
      </div>
    </div>
    <div class="Row">
      <div class="Column">
        Hakusana
        <br>
        <%= text_field_tag :word, params[:word] %>
      </div>
      <div class="Column">
        Kaupunki
        <br>
        <%= text_field_tag :city, params[:city] %>
      </div>
      <div class="Column">
        Postinumero
        <br>
        <%= text_field_tag :zip_code, params[:zip_code] %>
      </div>
    </div>
    <div class="Row">
      Kategoria
      <br>
      <%= select_tag :category_ids, options_for_select(Category.all.collect {|x| [x.name, x.id]}, params[:category_ids]), :multiple => true %>
    </div>
    <div class="Row">
      <%= submit_tag "Hae" %>
    </div>
<% end %>

<br>

<table class="table table-striped">
  <tbody class="form-group">


  <% @posts.each do |post| %>

      <tr>
        <% if post.image_is_set? %>

            <td ><%= image_tag post.image_url(:list), align: 'left' %></td>
        <% else %>
            <td ><%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %></td>

        <% end %>
        <td>
          <p><%= link_to truncate(post.title, :length => 30), post %></p>
          <p>
            <% post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p>
        </td>
        <td><% if post.price %>
              <%= post.price %> €
          <% end %>
        </td>
        <td>[tähdet]</td>
      </tr>
  <% end %>
  </tbody>
</table>
