<br>
<%= link_to('Luo ilmoitus', new_post_path, class:"black-button") if current_user && current_user.valid? %>
<div class="row" style="padding-top: 12px;">
  <div class="col-md-1 col-md-offset-4">
    <%= link_to(image_tag("logo.png", id: "logo"), root_path) %>
  </div>

  <div class="col-md-2">
    <h1 align="center" style="font-family: 'Amatic SC', cursive;font-size: 65px;">HELPPERI</h1>
  </div>

  <div class="col-md-6"></div>
</div>

<% content_for(:head) do %>
    <%= javascript_include_tag 'post.js', 'data-turbolinks-track' => true  %>
<% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="account-wall">
      <%= form_tag search_path, id: "search", :method => 'get', :class => "lomake" do %>

          <div class="form-group">
            <%= check_box_tag :post_type_buying_value, 'Osto', params[:post_type_buying] %> Haluan helppaajaksi
            <%= check_box_tag :post_type_selling_value, 'Myynti', params[:post_type_selling] %> Etsin helppaajaa
          </div>
          <div class="form-group2">
            Kaupunki<br>
            <%= text_field_tag :city, params[:city], size: "11" %>
          </div>
          <div class="form-group2">
            Postinumero<br>
            <%= text_field_tag :zip_code, params[:zip_code], size: "8" %>
          </div>
          <div class="form-group2">
            Hakusana<br>
            <%= text_field_tag :word, params[:word], size: "11" %>
          </div>
          <div class="form-group2">
            Palkkio (euroa)<br>
            <%= number_field_tag :min, params[:min], min: 0, max: 999, placeholder: "min" %> -
            <%= number_field_tag :max, params[:max], min: 0, max: 999, placeholder: "max" %>
          </div>
          <div class="form-group2">
            Kategoria<br>
            <%= select_tag :category_ids, options_for_select([["Kaikki", 0]] + Category.all.collect { |x| [x.name, x.id] }, params[:category_ids]), selected: 0, :multiple => true %>
          </div>
          <br><br>
          <div class="form-group">
            <%= submit_tag "Hae", :class => "black-button" %>
            <%= check_box_tag :remember, true, false %> Muista valintani
          </div>
          <div align="right">
            <%= collection_select(:table, :id, ["Uusimmat", "Sulkeutumassa", "Pienin palkkio", "Suurin palkkio"], :to_s, :to_s, {:selected => params[:order]}, {:onchange => "changeOrder();return false;"}) %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <%= form_tag search_path, id: "sort", :method => 'get', :class => "lomake" do %>
      <input name="tradie[tradie_category_ids][]" type="hidden" value="">
      <div align="right">
        <%= collection_select(:table, :id, ["Uusimmat", "Sulkeutumassa", "Pienin palkkio", "Suurin palkkio"], :to_s, :to_s, {:selected => params[:order]}, {:onchange => "changeOrder();return false;"}) %>
      </div>
  <% end %>
</div>

<% if @posts.empty? %>
    <p class="text-center"><b>Sovelluksessa ei tällä hetkellä ole avoimia ilmoituksia.</b></p>
<% else %>
    <table class="table table-striped">
      <tbody class="form-group">

      <% @posts.each do |post| %>
          <tr>
            <% if post.image_is_set? %>
                <td><%= image_tag post.image_url(:list), align: 'left' %></td>
            <% else %>
                <td >
                  <div class="wrapper">
                    <%= image_tag post.category_to_take_image_from.image_url(:list), align: 'left' %>
                    <div class="box"><span class="glyphicon glyphicon-search"></span></div>
                  </div>
                </td>
            <% end %>

            <td>
              <p><b><%= link_to truncate(post.title, :length => 30), post, :class => "linkit" %></b></p>
              <p><% if post.price %>
                  <div style="min-width:4em;"><%= post.price %> €</div>
              <% end %>
              </p>
              <p>
                <% post.categories.each do |category| %>
                    <span class="category-badge"><%= "#{category.name}" %></span>
                <% end %>
              </p>
            </td>
            <td>
              <%= render 'layouts/stars', :user => post.user %>
              <p><%= post.city %></p>
            </td>
          </tr>
      <% end %>
<% end %>
</tbody>
</table>


<div class="pagination">
  <%= will_paginate @posts %>
</div>
