<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"> <%= @post.title %></h1>
    <div class="account-wall">

      <div class="text-center" >
      <% if current_user && @post.helpers.include?(current_user) && current_user != @post.user %>
         <a class='btn btn-warning disabled ' >Olet ilmoittaunut kiinnostuneeksi</a>
      <% elsif current_user && @post.denyed_helpers.include?(current_user) && current_user != @post.user %>
         <a class='btn btn-danger disabled ' >Ilmoittaja ei ole hyväksynyt sinua tällä kertaa.</a>
      <% elsif current_user && current_user.valid? && current_user != @post.user && !@post.denyed_helpers.include?(current_user) %>
          <%= link_to('Ilmoittaudu kiinnostuneeksi', post_add_interested_path(@post.id), class:"btn btn-info", method: :post) %>
          <%= link_to('Lähetä viesti ilmoittajalle', root_path, class:"btn btn-info") %>
      <% else %>
          <% if current_user == @post.user %>
            <%= link_to 'Ilmoituksen tekijä', user_path(@post.doer_id) unless @post.doer_id.nil? %>
          <% elsif current_user %>
            <%= link_to 'Ilmoittaudu kiinnostuneeksi', edit_user_registration_path(current_user, :finishing => 1), class:"btn btn-info" %>
            <%= link_to 'Lähetä viesti ilmoittajalle', edit_user_registration_path(current_user, :finishing => 1), class:"btn btn-info" %>
          <% else  %>
            <%= link_to 'Ilmoittaudu kiinnostuneeksi', new_user_registration_path, class:"btn btn-info" %>
            <%= link_to 'Lähetä viesti ilmoittajalle', new_user_registration_path, class:"btn btn-info" %>
      <% end %>
       <% end %>
      </div>

      <%= form_for(@post, :html => {:class => "lomake"}) do |f| %>

          <% if @post.image_is_set? %>
              <%= image_tag @post.image_url(:display), align: 'right' %>
          <% else %>
              <%= image_tag @post.category_to_take_image_from.image_url(:display), align: 'right' %>
          <% end %>
          <p>
          <% if @post.seller? %>
            HALUAN HELPPERIKSI
                <% else %>
            ETSIN HELPPERIÄ
                <% end %>
            </p>
          <p>
            <% if @post.price %>
                <b><%= @post.price %> €</b>
            <% end %>
          </p>

          <p>
            <%= @post.description %>
          </p>

          <p>
            <% @post.categories.each do |category| %>
                <span class="category-badge"><%= "#{category.name}" %></span>
            <% end %>
          </p>

          <p>
            <% if @post.seller? %>
                <strong>Toimin säteellä</strong><br>
                <%= @post.radius %> km
            <% end %>
          </p>

          <p>
            <strong>Ilmoitus voimassa</strong><br>
            <%= l(@post.ending_date, format: '%A %e. %Bta %Y') %>
          </p>

          <p>
            <strong>Ilmoittaja</strong><br>
            <%= link_to(@post.user.first_name, user_path(@post.user)) %><br>
            <%= @post.address if @post.user == current_user %><% if @post.user ==current_user %><br><% end %>
            <%= @post.zip_code %> <%= @post.city %>
          </p><br>


          <%= link_to('Muokkaa', edit_post_path(@post), class:"btn btn-info") if @post.user == current_user %>
          <%= link_to("Poista", post_delete_post_path(@post.id), class:"btn btn-danger", data:
              { confirm: 'Haluatko varmasti poistaa ilmoituksen?' }, method: :post) if @post.user == current_user %><br><br>
      <% end %>

      <% if current_user == @post.user %>
      <h5><b>Kiinnostuneet</b></h5>
      <table class="table table-striped">
        <tbody class="form-group">
        <thead>
        <tr>
          <th class="col-md-1"></th>
          <th class="col-md-2"></th>
          <th class="col-md-1"></th>
          <th class="col-md-1"></th>
          <th class="col-md-1"></th>
          <th class="col-md-1"></th>
          <th class="col-md-1">Linkki keskusteluun</th>
        </tr>
        </thead>
        <% @post.helpers.each do |helper| %>

            <tr>
              <td >
              <% if helper.image_is_set? %>
                <%= image_tag helper.image_url(:thumbnail), align: 'left' %>
              <% end %>
              </td>
              <td>
                <%= link_to helper.first_name, user_path(helper) %>
              </td>
              <td>[tähdet]</td>
              <td><%= link_to('Hyväksy', post_accept_interested_path(@post.id, user_id: helper.id), class:"btn btn-warning", data:
                  { confirm: 'Haluatko varmasti hyväksyä käyttäjän?' }, method: :post) %></td>
              <td><%= link_to('Hylkää', post_deny_interested_path(@post.id, user_id: helper.id), class:"btn btn-danger", data:
                  { confirm: 'Haluatko varmasti hylätä käyttäjän?' }, method: :post) %></td>
              <td>Lähetä viesti</td>
              <td>Linkki keskusteluun</td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
