<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= @post.title %></h1>
    <div class="account-wall">
      <%= form_for(@post, :html => {:class => "lomake"}) do |f| %>

          <% if @post.has_image? %>
              <%= image_tag @post.image_url(:display), width: 200, align: 'right' %>
          <% else %>
              <%= image_tag @post.category_to_take_image_from.image_url(:display), width: 200, align: 'right' %>
          <% end %>
          <p>
          <% if @post.seller? %>
            Haluan helpperiksi
                <% else %>
            Etsin helpperiä
                <% end %>
            </p>
          <p>
          <% @post.categories.each do |category| %>
              <span class="label label-default"><%= "#{category.name}" %></span>
          <% end %>
          </p>

          <p>
            <%= @post.description %>
          </p>

          <p>
            <% if @post.price %>
                <%= @post.price %> €
            <% end %>
          </p>

          <p>
            <%= @post.address if @post.user == current_user %><br>
            <%= @post.zip_code %> <%= @post.city %>
          </p>

          <p>
            <strong>Säde</strong><br>
            <%= @post.radius %>
          </p>

          <p>
            <strong>Päättymispäivä</strong><br>
            <%= l(@post.ending_date, format: '%A %e. %Bta %Y') %>
          </p>

          <p>
            <strong>Ilmoittaja</strong><br>
            <%= link_to(@post.user.first_name, user_path(@post.user)) %>
          </p><br>


          <%= link_to('Muokkaa', edit_post_path(@post), class:"btn btn-primary") if @post.user == current_user %>
          <%= link_to("Poista", post_delete_post_path(@post.id), class:"btn btn-danger", data:
              { confirm: 'Haluatko varmasti poistaa ilmoituksen?' }, method: :post) if @post.user == current_user %><br><br>
          <%= link_to "Takaisin selaukseen", posts_path if @post.user == current_user %>
      <% end %>
    </div>
  </div>
</div>
