<h2>
  <%= @post.title %><br>

</h2>

<p>
  <strong>[kategoria]</strong><br>
  <%=  %>
</p>

<p>
  <%= @post.description %>
</p>

<p>
  <% if @post.price %>
      <%= @post.price %> €
  <% end %>
</p>

<p>
<p><%= @post.address %></p>
<p><%= @post.zip_code %> <%= @post.city %></p><br>
</p>

<p>
  <strong>Säde</strong><br>
  <%= @post.radius %>
</p>

<p>
  <strong>Päättymispäivä</strong><br>
  <%= @post.ending_date %>
</p>

<p>
  <strong>Ilmoittaja</strong><br>
  <%= link_to(@post.user.first_name, user_path) %>
</p><br>

<%= link_to('Muokkaa', edit_post_path(@post), class:"btn btn-primary") if @post.user == current_user %>
<%= link_to("Poista", post_delete_post_path(@post.id), class:"btn btn-danger", data:
    { confirm: 'Haluatko varmasti poistaa ilmoituksen?' }, method: :post) if @post.user == current_user %><br><br>
<%= link_to "Takaisin selaukseen", posts_path if @post.user == current_user %>
