<% if user_signed_in? %>
    <li><%= link_to users_path do %>
          Omat ilmoitukset <%= content_tag :span, users_candidate_changes_count,
            class: 'label label-warning' if users_candidate_changes_count > 0 %>
          <%= content_tag :span, users_post_conversations_count,
            class: 'label label-primary' if users_post_conversations_count > 0 %>
      <% end %>
    </li>
    <li><%= link_to user_interests_path do %>
          Omat kiinnostukset <%= content_tag :span, users_candidate_changes_count,
                                           class: 'label label-warning' if users_candidate_changes_count > 0 %>
          <%= content_tag :span, users_post_conversations_count,
                          class: 'label label-primary' if users_post_conversations_count > 0 %>
      <% end %>
    </li>

    <li>
      <%= link_to user_path(current_user) do %>
          <span class="glyphicon glyphicon-user"></span> <%= current_user.first_name %>
      <% end %>
    </li>

    <li>
      <%= link_to conversations_path, class: ""  do %>
        <span class="glyphicon glyphicon-envelope"></span>
          <%= content_tag :span, users_conversations_count,
              class: 'label label-primary' if users_conversations_count > 0 %>
      <% end %>
    </li>
    <li><%= link_to 'Kirjaudu ulos', destroy_user_session_path, :method => :delete %></li>
<% else %>
    <li><%= link_to 'Kirjaudu', user_session_path %></li>
    <li><%= link_to 'Rekisteröidy', new_user_registration_path %></li>
<% end %>