<% if user_signed_in? %>
    <li><%= link_to users_path do %>
          Omat ilmoitukset <%= content_tag :span, Candidate.where(user_id:current_user.id).where(denied:false).unread_by(current_user).count + Candidate.where(post_id:Post.where(user_id:current_user.id)).where(denied:false).unread_by(current_user).count,
                                           class: 'badge', style:"background-color: #C42121;" if Candidate.where(user_id:current_user.id).where(denied:false).unread_by(current_user).count + Candidate.where(post_id:Post.where(user_id:current_user.id)).where(denied:false).unread_by(current_user).count > 0 %>
      <% end %>
    </li>
    <li>
      <%= link_to user_path(current_user) do %>
          <span class="glyphicon glyphicon-user"></span> <%= current_user.first_name %>
      <% end %>
    </li>

    <li>
      <%= link_to conversations_path, class: ""  do %>
        <span class="glyphicon glyphicon-envelope"></span>
          <%= content_tag :span, Conversation.user_messages(current_user.id).unread_by(current_user).count,
                          class: 'badge', style:"background-color: #C42121;" if Conversation.user_messages(current_user.id).unread_by(current_user).count > 0 %>
      <% end %>
    </li>
    <li><%= link_to 'Kirjaudu ulos', destroy_user_session_path, :method => :delete %></li>
<% else %>
    <li><%= link_to 'Kirjaudu', user_session_path %></li>
    <li><%= link_to 'Rekisteröidy', new_user_registration_path %></li>
<% end %>